{% block content %} 

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <link rel="icon" type="image/svg+xml" href="./public/vite.svg" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Vite App</title>
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/oficinas.css' %}" />
      </head>
      <body>
        <div class="navigation">
          <a class="navigation__item" href="./asignacion.html">Registrar asignacion</a>
          <a class="navigation__item" href="./reportes_proyecto.html"
            >Reportes</a
          >
        </div>
      </body>
  </html>
{% endblock %}
