{% block content %}
  
  {% load static %}
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="./public/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vite App</title>
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/reportes.css' %}" />
      </head>
      <body>
        <div class="reportes">
          <form action="" class="reporte">
            <div class="reporte__info">
              <p>ID de consultor: <span>ITEM01</span></p>
              <p>Asignacion: <span>TASK01</span></p>
              <p>Tiempo reportado: <span>TIME01</span></p>
            </div>
            <div class="reporte__details">
              <label for="details"></label>
              <p class="reporte__details__label">Detalle:</p>
              <textarea
                class="reporte__details__data"
                name="details"
                id="details"
                rows="6"
                cols="80"
              ></textarea>
            </div>
            <div class="reporte__evaluation">
              <div class="reporte__satisfaction">
                <label for="satisfaction">Satisfacción: </label>
                <input
                  type="number"
                  name="satisfaction"
                  id="satisfaction"
                  min="0"
                  max="10"
                />
              </div>
              <div class="reporte__buttons">
                <button class="reporte__action" type="submit">Aprobar</button>
                <button class="reporte__action" type="submit">Rechazar</button>
              </div>
            </div>
          </form>
          <form action="" class="reporte">
            <div class="reporte__info">
              <p>ID de consultor: <span>ITEM01</span></p>
              <p>Asignacion: <span>TASK01</span></p>
              <p>Tiempo reportado: <span>TIME01</span></p>
            </div>
            <div class="reporte__details">
              <label for="details"></label>
              <p class="reporte__details__label">Detalle:</p>
              <textarea
                class="reporte__details__data"
                name="details"
                id="details"
                rows="6"
                cols="80"
              ></textarea>
            </div>
            <div class="reporte__evaluation">
              <div class="reporte__satisfaction">
                <label for="satisfaction">Satisfacción: </label>
                <input
                  type="number"
                  name="satisfaction"
                  id="satisfaction"
                  min="0"
                  max="10"
                />
              </div>
              <div class="reporte__buttons">
                <button class="reporte__action" type="submit">Aprobar</button>
                <button class="reporte__action" type="submit">Rechazar</button>
              </div>
            </div>
          </form>
        </div>
      </body>
    </html>
{% endblock %}
